{:paths ["src"]
 :deps
 {io.pedestal/pedestal.service {:mvn/version "0.5.11-beta-1"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.11-beta-1"}
  ;; ch.qos.logback/logback-classic {:mvn/version "1.2.10", :exclusions [org.slf4j/slf4j-api]}
  ;; org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}
  ;; org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}
  ;; org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
  ;; org.clojars.kjw/slf4j-simple {:mvn/version "1.5.6"}
  ns-tracker/ns-tracker {:mvn/version "0.4.0"}
  nrepl/nrepl {:mvn/version "1.1.0-alpha1"}
  cider/cider-nrepl {:mvn/version "0.29.0"}
  com.bhauman/rebel-readline {:mvn/version "0.1.4"}
  clj-python/libpython-clj {:mvn/version "2.023"}
  techascent/tech.datatype {:mvn/version "5.18"}
  toucan/toucan {:mvn/version "1.18.0"}
  com.layerware/hugsql {:mvn/version "0.5.3"}
  walkable/walkable {:mvn/version "1.3.0-alpha0"}
  org.postgresql/postgresql {:mvn/version "42.5.1"}
  ring/ring {:mvn/version "1.9.0"}
  ring/ring-json {:mvn/version "0.5.1"}
  ring/ring-core {:mvn/version "1.9.6"}
  ring/ring-jetty-adapter {:mvn/version "1.9.6"}
  aleph/aleph {:mvn/version "0.6.0"}
  com.walmartlabs/lacinia {:mvn/version "1.2-rc-1"}
  http-kit/http-kit {:mvn/version "2.4.0-alpha4"}
  compojure/compojure {:mvn/version "1.7.0"}
  yesql/yesql {:mvn/version "0.5.3"}
  vincit/venia {:mvn/version "0.2.5"}
  ring-refresh/ring-refresh {:mvn/version "0.1.3"}
  org.clojure/java.jdbc {:mvn/version "0.7.12"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.847"}
  com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.1"}
  sqlingvo/sqlingvo {:mvn/version "0.9.35"}
  exoscale/seql {:mvn/version "0.2.2"}
  migratus/migratus {:mvn/version "1.4.9"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  ;; good print lib
  tupelo/tupelo {:mvn/version "22.08.03"}
  ring/ring-defaults {:mvn/version  "0.3.4"}
  ring-cors/ring-cors {:mvn/version "0.1.13"}
  ragtime/ragtime {:mvn/version "0.8.1"}
  ;; ?json lib
  cheshire/cheshire {:mvn/version  "5.11.0"}
  ;; auth
  buddy/buddy {:mvn/version "2.0.0"}
  ;; log
  spootnik/unilog {:mvn/version  "0.7.31"}
  ;; ring-logger/ring-logger {:mvn/version  "1.0.1"}
  com.taoensso/timbre {:mvn/version  "5.2.1"}}
 :aliases {:start ;; added by me
           {:extra-paths ["src"]
            :exec-fn my-pe-reload-service.server/-main}

           :client ;; added by neil
           {:extra-deps {}
            :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color" "--connect"
                        "--host" "127.0.0.1"
                        "--port" "7778"]}

           :nrepl
           {:extra-deps {}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "--interactive"
                         "-f" "rebel-readline.main/-main"]}

           :env-dev
           {:extra-paths ["src"]
            :extra-deps  {}
            :main-opts ["-m" "my-pe-reload-service.repl"
                        "--interactive" "--color"
                        ;; "--connect"
                        "--handler" "cider.nrepl/cider-nrepl-handler"
                        "--host" "127.0.0.1"
                        "--port" "7778"]
            :jvm-opts ["-Dorg.eclipse.jetty.util.log.class=org.eclipse.jetty.util.log.StdErrLog"
                                                    "-Dorg.eclipse.jetty.LEVEL=INFO"
                                                    "-Dorg.eclipse.jetty.websocket.LEVEL=INFO"]}

           :migrate {:extra-deps {}
                     :main-opts ["-m" "clj-migratus"]}

           :repl-rebel
           {:extra-deps {}
            ;; :extra-paths ["dev"]
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "--interactive"
                         "-f" "pedestal-hello1.my-repl/-main"
                         "-e" "(ns pedestal-hello1.pedestal-hello1)"]
            :exec-fn user/-main}}}
